    body {
        padding-top: 30px;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    p {
        font-family: 'PT Sans', sans-serif;
    }
    #navbar_white {
        background-color: white;
        border: 0;
    }
    #category_name {
        color: brown;
    }

    #category_name:hover {
        text-decoration: none;
    }
    .navbar-brand {
        color: #0A0A0A !important;
        font-size: 40px;
        float: none;
        line-height: 45px;
        letter-spacing: 5px;
        padding-left: 0;
    }
    #navlist {
        border-bottom: 3px solid #f3f3f3;
        padding: 0;
        margin: 0;
    }
    footer {
        border-top: 3px solid #f3f3f3;
        padding-top: 20px;
        margin-top: 20px;
    }